<li *ngIf="item.url && !item.external" [ngClass]="item.classes" [routerLinkActive]="['active']">
  <a [target]="item.target ? '_self' : '_self'" [routerLink]="[item.url]" (click)="closeOtherMenu($event)">
    <i *ngIf="item.icon" class="bi {{ item.icon }} icon"></i>
    <span *ngIf="item.icon" class="coded-mtext">{{ item.title }}</span>
    <ng-container *ngIf="!item.icon">
      {{ item.title }}
    </ng-container>
  </a>
</li>
<li *ngIf="item.url && item.external" [ngClass]="item.classes">
  <a [target]="item.target ? '_self' : '_self'" [href]="item.url">
    <i *ngIf="item.icon" class="bi {{ item.icon }}"></i>
    <span *ngIf="item.icon" class="coded-mtext">{{ item.title }}</span>
    <ng-container *ngIf="!item.icon">
      {{ item.title }}
    </ng-container>
  </a>
</li>
