<div class="row">
<div class="col-12 row">
    <div class="col-4">
        <button type="button" (click)="back()"  class="btn btn-light "  aria-label="back"><i class="bi bi-arrow-left-circle-fill back" ></i></button>
    </div>

    <div class="col-2">

      
        <div ngbDropdown >
            <button class="btn btn-light white d-space " ngbDropdownToggle>All</button>
            
                <ul ngbDropdownMenu class="dropdown-menu">
                    <li><label class="dropdown-item"><span class="badge bg-success">Approved</span></label></li>
                    <li><label class="dropdown-item"><span class="badge bg-danger">Rejected</span></label></li> 
                    <li><label class="dropdown-item"><span class="badge bg-warning">Pending</span></label></li>
                 
                  
                  </ul>
      
          </div>
    </div> 

    <div class="col-2">

      
        <div ngbDropdown >
            <button class="btn btn-light white d-space " ngbDropdownToggle>Sort</button>
            
                <ul ngbDropdownMenu class="dropdown-menu">
                    <li><label class="dropdown-item"  (click)="sortDates('desc')">Newest to Oldest</label></li> 
                    <li><label class="dropdown-item"  (click)="sortDates('asc')">Oldest to Newest</label></li>
                  
                  </ul>
      
          </div>
    </div> 
 
    <div class="col-2">
        <button type="button" class="btn btn-light position-relative">
            Months
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              {{monthsNo}}
              <span class="visually-hidden">Months</span>
            </span>
          </button>
</div>

    <div class="col-2">
        <button type="button" class="btn btn-light position-relative">
            Applications
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              6
              <span class="visually-hidden">Applications</span>
            </span>
          </button>
    </div>
</div>

</div>
<div class="row date-content">
    <div *ngFor="let month of months" class="col-12">
        <div ><h3 class="font-monospace">{{month}}</h3></div>

        <div class="card">
            <div class="card-body">
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                          <th>USER ID</th>
                          <th>APPLICATION ID</th>
                          <th>USER NAME</th>
                          <th>APPLIED FOR</th>
                          <th class="text-end">APPLICATION STATUS</th>
                        </tr>
                      </thead>
                      <tbody class="pointer">
                        <tr>    
                            <td>
                                <button type="button" class="btn btn-outline-danger" (click)="open(content);selectedMonth=month">
                                    <i class="bi bi-file-pdf-fill"></i> PDF
                                  </button>

                                </td>
                          <td><a href="javascript:" class="text-muted">#U001</a></td>
                          <td><a href="javascript:" class="text-muted">#L201</a></td>
                          <td>John Doe</td>
                          <td>Company Application & Background Check</td>
                          <td class="text-end"><span class="badge bg-warning">Pending</span></td>
                        </tr>
                        <tr>
                            <td>    <button type="button" class="btn btn-outline-danger" (click)="open(content);selectedMonth=month">
                                <i class="bi bi-file-pdf-fill"></i> PDF
                              </button></td>
                          <td><a href="javascript:" class="text-muted">#U002</a></td>
                          <td><a href="javascript:" class="text-muted">#L531</a></td>
                          <td>Jane Smith</td>
                          <td>Company Application</td>
                          <td class="text-end"><span class="badge bg-warning">Pending</span></td>
                        </tr>
                        <tr>
                            <td>    <button type="button" class="btn btn-outline-danger" (click)="open(content);selectedMonth=month">
                                <i class="bi bi-file-pdf-fill"></i> PDF
                              </button></td>
                          <td><a href="javascript:" class="text-muted">#U003</a></td>
                          <td><a href="javascript:" class="text-muted">#L541</a></td>
                          <td>Robert Brown</td>
                          <td>Background Check</td>
                          <td class="text-end"><span class="badge bg-danger">Rejected</span></td>
                        </tr>
                      </tbody>
                  </table>
            </div>
          </div>
    </div>
</div>

<!-- Trigger Button -->


<!-- Modal Structure -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> <img src="../../../../../assets/images/logo_arms.png" class="arms" width="40" height="50">Application  #U001</h4>

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');resetLoader()"></button>
  </div>
  <div class="modal-body">
 
    <div class="row"> 
        <div class="col-10">

 
            <!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="doc-tab" data-bs-toggle="tab" data-bs-target="#doc" type="button" role="tab" aria-controls="doc" aria-selected="true">
            Home
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tax-tab" data-bs-toggle="tab" data-bs-target="#tax" type="button" role="tab" aria-controls="tax" aria-selected="false">
            Tax clearance
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bank" type="button" role="tab" aria-controls="bank" aria-selected="false">
            Proof of bank account
        </button>
    </li>
</ul>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">
    <!-- Document Tab -->
    <div class="tab-pane fade show active" id="doc" role="tabpanel" aria-labelledby="doc-tab">
        <div class="pdf-container">
            <div *ngIf="loadingDoc" class="loader"><img src='../../../../../assets/images/load.gif'></div>
            <pdf-viewer
                [src]="pdfSrc"
                [render-text]="true"
                style="display: block; width: 100%; height: 100%;"
                (after-load-complete)="onPdfLoaded('doc')">
            </pdf-viewer>
        </div>
    </div>

    <!-- Tax Tab -->
    <div class="tab-pane fade" id="tax" role="tabpanel" aria-labelledby="tax-tab">
        <div class="pdf-container">
            <div *ngIf="loadingTax" class="loader"><img src='../../../../../assets/images/load.gif'></div>
            <pdf-viewer
                [src]="pdfSrcTax"
                [render-text]="true"
                style="display: block; width: 100%; height: 100%;"
                (after-load-complete)="onPdfLoaded('tax')">
            </pdf-viewer>
        </div>
    </div>

    <!-- Bank Tab -->
    <div class="tab-pane fade" id="bank" role="tabpanel" aria-labelledby="contact-tab">
        <div class="pdf-container">
            <div *ngIf="loadingBank" class="loader"><img src='../../../../../assets/images/load.gif'></div>
            <pdf-viewer
                [src]="pdfScrBank"
                [render-text]="true"
                style="display: block; width: 100%; height: 100%;"
                (after-load-complete)="onPdfLoaded('bank')">
            </pdf-viewer>
        </div>
    </div>
</div>




           
        
        </div>
        <div class="col-2">

            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-light space form-control d-flex justify-content-between align-items-center">
                        Approve <i class="bi bi-check-circle-fill approve"></i>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-light space form-control d-flex justify-content-between align-items-center">
                        Reject <i class="bi bi-x-circle-fill reject"></i>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-light space form-control d-flex justify-content-between align-items-center">
                        Leave Pending <i class="bi bi-hourglass"></i>
                    </button> 
                </div>
            </div>
            <div class="row">
                <div class="card" style="width: 18rem;">
                 
                    <div class="card-body">
                        <h6>13 {{selectedMonth}}</h6>
             
                      <p class="card-text">Appointment Locations.</p>
                      <p class="card-text text-muted">Johannesburg</p>
                      <p class="card-text text-muted">Kimberley</p>
                      <div ngbDropdown >

                        <button ngbDropdownToggle type="button" class="btn btn-secondary position-relative">
                            Attachments
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                              {{attachmentNo}}
                              <span class="visually-hidden">Attachments <i class="bi bi-paperclip"></i></span>
                            </span>
                          </button>


                        
                            <ul ngbDropdownMenu class="dropdown-menu">
                                
                                <li><label class="dropdown-item" > Tax clearance</label></li> 
                                <li><label class="dropdown-item" > Proof of bank account:</label></li>
                             
                              
                              </ul>
                  
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>

    </div>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save changes</button>
  </div> -->
</ng-template>
